.FullScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: 0;
    position: relative;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}