.VideoPlayerControls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}