.Search {
    margin-bottom: 16px;
}

.Search-input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px 12px;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    outline: none;
}